/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;

  /*Req 1*/
  font-family: 'Andika', sans-serif;
  line-height: 2;
  background-image: url("../images/pigeon-background.JPEG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #DDDDDD;
}

h1{
  color: #c12258;
  font-size: 2em;

  /*Req 2*/
  text-align: center;
}

p{
  /*Req 3*/
  padding-top: 15px;
}

a{
  /*Req 4*/
  font-size: 16px;
  color: #B21F50;
  text-decoration-style: wavy;
}

/*Req 5*/
/*Add selector and rule here*/
*:focus{
  border-style: dashed;
  border-color: #417213;
  border-width: 3px;
}


/*Req 6a*/
td{
  text-align: center;
  border-top: 2px solid black;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*Req 6b*/
.colhead{
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  min-width: 125px;
  padding: 10px;
  background-color: #7e0820;
}
/*Req 6c*/
.rowhead{
  border-top: 2px solid black;
  border-right: 2px solid black;
}

/*Req 6d*/
tr:nth-child(odd){
  background-color: rgba(255, 255, 255, 0);
}

/*Req 6e*/
tr:nth-child(even){
  background-color: #D1D1D1;
}

/*Req 6f*/
tr:hover{
  background-color: rgb(126, 8, 32, 0.25);
}

/*Req 7*/
table{
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

thead tr:first-child th:first-child{}

/*Add selectors and rules here*/


/*Req 8*/
footer{
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  min-height: 75px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

